<div class="box col-lg-2">

  <%= link_to post_path(liked_post) do %>
      <div class="overlay-container">
        <%= image_tag liked_post.avatar.url(:original) %>
        <div class="overlay-background">
          <%= liked_post.user.email %>
        </div>
      </div>
  <% end %>
</div>
