<div class="box col3">

  <%= link_to post_path(post) do %>
      <div class="overlay-container">
        <%= image_tag post.avatar.url(:original) %>
        <div class="overlay-background">
          <%= post.user.email %>
        </div>
      </div>
  <% end %>
</div>
