<%- model_class = Post -%>
<div class="page-header">
</div>
<div id="tag_cloud">
  <% tag_cloud Post.tag_counts, %w{s m l} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>


  <div id="test">
    <div class='infinite-scroll page clearfix'>
      <%= render @posts %>
    </div>
  </div>

<nav id="page-nav">
  <%= paginate @posts %>
</nav>

